*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: rgb(234, 248, 255);
}
.firstdiv{
    color: #fff;
    background-color: #808080;
}
.firstdiv h1{
    display: inline-block;
    font-size: 1.3rem;
    text-align: left;
    width: 34.5%;
    padding: 8px 0 8px 5%;
    margin-left: 10%;
}
.firstdiv ul{
    display: inline-block;
    font-size: 1.3rem;
    text-align: center;
    width: 39.5%;
    padding: 8px 0;
    margin-right: 10%;
}
.firstdiv ul li{
    display: inline;
    padding: 0 6px;
}

.seconddiv{
    height: 90vh;
    width: 80%;
    margin: 0 10% 0;
}
.secondleft{
    display: inline-block;
    height: 100%;
    width: 49.7%;
    background-image: url(/images/picture3.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;
}
